<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <display-name>newUserServlet</display-name>
    <servlet-name>newUserServlet</servlet-name>
    <servlet-class>ptscale.newUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newUserServlet</servlet-name>
    <url-pattern>/newUserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>newUserServlet</servlet-name>
    <jsp-file>user.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>newUserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>ptscale.userServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dashboardServlet</servlet-name>
    <servlet-class>ptscale.dashboardServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>dashboardServlet</servlet-name>
    <url-pattern>/dashboardServlet</url-pattern>
  
  </servlet-mapping>
  
</web-app>